/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Global CSS */
body {
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,::after{
    box-sizing: border-box;
}

section {
    background-color: #F2F2FC;
    min-height: 100vh;
    display: block;
    padding: 0 30px;
}

section .container {
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 40px;
    color: #00374B;
    font-weight: 700;
    margin: 0;
    /* background-color: gray; */
    position: relative;
}

.section-title h2::before {
    content: '';
    height: 4px;
    width: 50px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffb400;
}

.section-title h2::after {
    content: '';
    height: 4px;
    width: 25px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
    background-color: #ffb400;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
}

.padd-15 {
    padding-right: 15px;
    padding-left: 15px;
}

.main-content{
    padding-left: 270px;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.btn {
    background-color: #ffb400;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: #FFF;
    border-radius: 40px;
    transition: all 0.3s ease;
    display: inline-block;
    white-space: nowrap;
}

.btn:hover{
    transform: scale(1.05);
}

.hidden {
    display: none;
}

/* Aside */
.aside {
    width: 270px;
    background-color: #ffb400;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    border-right: 1px solid #222222;
    padding: 30px;
}

.aside .logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 200px;
    height: 200px;
    background-color: #00374B;
    border-radius: 50%;
    box-shadow: 2px 3px 10px #222222;
}

.aside .logo img{
    margin-top: 5px;
    margin-left: 5px;
    width: 95%;
    border-radius: 50%;
}

.aside .name {
    color: #00374B;
    text-align: center;
}

.aside .nav-toggler {
    height: 40px;
    width: 40px;
    border: 1px solid #F2F2FC;
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 30px;
    z-index: 11;
    border-radius: 5px;
    background-color: #ffb400;
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;
}

.aside .nav-toggler span {
    background-color: #F2F2FC;
    height: 2px;
    width: 18px;
    display: inline-block;
    position: relative;
}

.aside .nav-toggler span::before {
    background-color: #F2F2FC;
    content: '';
    height: 2px;
    width: 18px;
    position: absolute;
    top: -6px;
    left: 0;
}

.aside .nav-toggler span::after {
    background-color: #F2F2FC;
    content: '';
    height: 2px;
    width: 18px;
    position: absolute;
    top: 6px;
    left: 0;
}

.aside .nav {
    margin-top: 30px;
    list-style: none;
    padding: 0;
}

.aside .nav li {
    display: block;
}

.aside .nav li a {
    color: #00374B;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    line-height: 45px;
    transition: all 0.4s ease;
}

.aside .nav li a.active {
    color: #00374B;
    font-weight: 700;
}

.aside .nav li a:not(.active):hover {
    padding-left: 5px;
}

.aside .nav li a img {
    margin-right: 10px;
}

.aside .copyright-text {
    font-size: 13px;
    margin-top: 80px;
    color: #00374B;
}

.aside .copyright-text a {
    color: #00374B;
    font-weight: 600;
    text-decoration: none;
}

/* Home */

.home {
    min-height: 100vh;
    display: flex;
}

.project-box {
    flex: 0 0 60%;
    width: 60%;
    background-color: #C4C4C4;
}

.project-name {
    font-size: 30px;
    font-weight: 500;
}

.project-box .project-carousel {
}

.project-box .project-carousel .carousel-item {
    height: 500px;
}

.project-box .project-carousel .carousel-item img {
    width: 500;
    height: 500px;
}

.description-box {
    flex: 0 0 40%;
    width: 40%;
    padding: 0;
    margin: 0;
    background-color: #222222;
}

/* About Section */

.about .about-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #00374B;
}

.about .about-content .about-text h3 span {
    color: #ffb400;
}

.about .about-content .about-text p {
    font-size: 16px;
    line-height: 25px;
    color: #00374B;
    margin: 0;
}

.about .about-content .personal-info {
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}

.about .about-content .personal-info .info-item {
    flex: 0 0 50%;
    max-width: 50%;
}

.about .about-content .personal-info .info-item p {
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: #00374B;
    margin: 0;
    border-bottom: 1px solid #222222;
}

.about .about-content .personal-info .info-item p span {
    font-weight: 400;
    color: #222222;
    margin-left: 4px;
    display: inline-block;
}

.about .about-content .personal-info .buttons {
    margin-top: 30px;
}

.about .about-content .personal-info .buttons .btn {
    margin-right: 15px;
    margin-top: 10px;
}

.about .about-content .skills {
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}

.about .about-content .skills .skill-item {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .skills .skill-item h5 {
    line-height: 30px;
    font-weight: 600;
    font-size: 16px;
    color: #00374B;
    text-transform: capitalize;
    margin: 0;
}

.about .about-content .skills .skill-item .progress {
    background-color: #e3e3e3;
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}

.about .about-content .skills .skill-item {
    margin-bottom: 20px;
}

.about .about-content .skills .skill-item .progress .progress-in {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #ffb400;
    border-radius: 4px;
}

.about .about-content .skills .skill-item .skill-percent {
    line-height: 40px;
    position: absolute;
    right: 0;
    top: -40px;
    font-weight: 400;
    color: #00374B;
}

.about .about-content .education {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}

.about .about-content .experience {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}

.about .about-content h3.title {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #00374B;
}

.about .about-content .timeline-box {
    flex: 0 0 95%;
    max-width: 100%;
}

.about .about-content .timeline {
    background-color: rgb(219, 213, 213);
    padding: 30px 15px;
    border: 1px solid #d4d4e3;
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.about .about-content .timeline .timeline-item {
    position: relative;
    padding-left: 30px;
    padding-bottom: 30px;
}

.about .about-content .timeline .timeline-item:last-child {
    padding-bottom: 0px;
}

.about .about-content .timeline .timeline-item::before {
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: #ffb400;
}

.about .about-content .timeline .circle-dot {
    position: absolute;
    left: 0;
    top: 0px;
    height: 15px;
    width: 15px;
    background-color: #ffb400;
    left: 0px;
    border-radius: 50%;
}

.about .about-content .timeline .timeline-date {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 12px;
    color: #222222;
    display: flex;
    align-items: center;
}

.about .about-content .timeline .timeline-date img{
    margin-right: 5px;
}

.about .about-content .timeline .timeline-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: #00374B;
}

.about .about-content .timeline .timeline-title span {
    font-size: 14px;
    font-weight: 400;
    color: #222222;
}

.about .about-content .timeline .timeline-text {
    font-size: 16px;
    line-height: 25px;
    color: #222222;
    margin: 0;
}

.about .about-content .timeline .timeline-text span {
    color: #222;
    font-weight: 600;
}

.about .about-content .specializations {
    margin-top: 15px;
}

.about .about-content .specializations-list h5 {
    font-size: 18px;
    line-height: 40px;
    border-bottom: 1px solid #222222;
    color: #00374B;
}

.about .about-content .specializations-list span {
    color: #222;
    font-weight: 500;
}